<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
{% include "navigation.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>
<ul>
    <li>company name: Student Inc.</li>
    <li>Chamber of Commerce number: 0800 1014</li>
    <li>Bank account number: 4567 7890 1234 3456</li>
    <li>Address: Bijdorplaan 15, 2015 CE Haarlem</li>
    <li>Phone: +31 6 12 13 14 15</li>
    <li>Email: studentinc@gmail.com</li>
</ul>
</body>
<footer> &copy; Student Inc.</footer>
</html>