<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Inc.</title>
</head>
<body>
{% include "navigation.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>
<p><strong>Student Inc.</strong> - we are the company, that provides everything, that a student needs</p>
<h1>Why you should choose us?</h1>
<ol>
    <li>Good prices</li>
    <li>Amazing quality</li>
    <li>Loyal sellers</li>
</ol>
    <img src="https://t4.ftcdn.net/jpg/03/84/55/29/360_F_384552930_zPoe9zgmCF7qgt8fqSedcyJ6C6Ye3dFs.jpg">
</body>
<footer> &copy; Student Inc.</footer>
</html>