<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Inc.</title>
</head>
<style>
    body {
        background-color: gray;
        font-size: 1.5em;
    }

</style>
<body>
    {% include "navigation.html" %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <p style="color: #FF00HH;"><strong>Student Inc.</strong> - we are the company, that provides everything, that a student needs</p>
    <h1>Why you should choose us?</h1>
    <ol>
        <li>Good prices</li>
        <li>Amazing quality</li>
        <li>Loyal sellers</li>
    </ol>
        <img src="img/img.png">
    </body>
    <footer> &copy; Student Inc.</footer>
</html>